* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden;
}

.header {
    position: relative;
    text-align: center;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin: 0 15px;
    white-space: nowrap;
}

.navbar a:hover {
    
    color: #e08344;
}

.title {
    font-family: 'Jaini Purva', Georgia, serif;
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    padding: 20px 0;
}

.hero-image {
    background-size: cover;
    background-position: top;
    height: 200px;
    position: relative;
    width: 100%;
}

.category-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1e1e1e;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    width: 100%;
    flex-wrap: wrap;
}

.category-navbar a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin: 0 10px;
}

.category-navbar a:hover {
    color: #e08344;
}



/* postlist */

.quote-section {
    font-family: Yatra One;
    width: 100%;
    background: linear-gradient(120deg, #f6d365, #fda085);
    color: #fff;
    text-align: center;
    padding: 1.1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  blockquote {
    font-size: 1.8em;
    margin: 0;
    padding: 0.5em 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  
  .quote-author {
    font-size: 1.2em;
    margin-top: 0.5em; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    
  }



/* Card Container */
.card-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Card Layout */
.card {
    display: flex;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    overflow: hidden;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
    /*transition: transform 0.5s ease;*/
}

.card:hover {
    /*transform: translateY(-1px);*/
    border: 1px solid rgb(241, 100, 44);
}

/* Image Styling */
.pic-container {
    width: 280px;
    min-width: 280px;
    height: 180px;
}

.pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content Section */
.content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Typography */
h2 {
    margin: 0 0 15px 0;
    font-size: 1.0rem;
}

h2 a {
    color: #333;
    text-decoration: none;
}



.snippet {
    margin: 0 0 15px 0;
    color: #666;
    line-height: 1.5;
    /*flex-grow: 1;*/
}

/* Meta Information */
.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    font-size: 0.9rem;
    margin-top: auto;
}

.category {
    color: #333;
    text-decoration: none;
}

.category:hover {
    
    color: #e08344;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .pic-container {
        width: 100%;
        height: 200px;
    }

    .content {
        padding: 15px;
    }

    h2 {
        font-size: 1.25rem;
    }
}




/* post detail */

.post-image{
    
        display: block;
        margin: auto;
        width: 60%;
        height: 350px;
        padding-top: 10px;
        object-fit: cover;
      
}
.post-title{
    font-family: Cinzel, serif;
    font-size: 29px;
    
    padding-top: 20px; 
    text-align: center;
  }

 .post-meta{

    text-align: center;
 } 

 .post-category {
   
    text-decoration: none;
}

.post-category:hover {
    text-decoration: underline;
}


